<div class="no-pad image-text">
    <%= image_tag("background_final.png", :alt => "Habjan Photography", class: "img-fluid my-img") %>
</div>



<div class="col-lg-12">
  <h1 id="gallery" class="page-header text-center txt-style">My Work</h1>
</div>

<div class="container card-fluid align-items-center mx-auto">
 <!-- Projects Row -->
  <div class="row">
      <div class="col-md-3 portfolio-item">
          <%= link_to image_tag("home_5_index.png", class: "img-fluid"),catone_path %>
      </div>
      <div class="col-md-3 portfolio-item">
         <%= link_to image_tag("people_index.png", class: "img-fluid"),cattwo_path %>
      </div>
      <div class="col-md-3 portfolio-item">
          <%= link_to image_tag("things_index.png", class: "img-fluid"),catthree_path %>
      </div>
      <div class="col-md-3 portfolio-item">
          <%= link_to image_tag("travel_1_index.png", class: "img-fluid"),catfour_path %>
      </div>
  </div>
  <!-- /.row -->
</div>

<div class="bio">
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit ac lectus et luctus. Integer tempor malesuada tortor, quis molestie nulla tincidunt vel. Praesent quis turpis sapien. Donec felis urna, convallis id nunc id, pretium molestie mi. Etiam mattis est vitae lacinia placerat. Nulla placerat massa ac elementum tincidunt. Quisque ultricies ipsum sed orci sagittis feugiat. Vestibulum ac tincidunt sem. Praesent turpis nulla, rhoncus at ligula sed, laoreet ornare sem. Vivamus vehicula, orci eget facilisis porttitor, dui velit egestas arcu, ac mattis felis ipsum in arcu. Donec odio est, vestibulum sed tincidunt a, volutpat vitae quam.</p>

    <p>Aenean tempor tincidunt nisl nec porta. Sed pharetra ex ut elementum lacinia. Donec tempor consectetur augue in commodo. Nullam et tempor metus, id consequat justo. Praesent in laoreet ipsum. Pellentesque malesuada urna sit amet sapien finibus, eu sollicitudin metus lobortis. Praesent auctor sed est eu pulvinar. Curabitur sed sagittis purus, in placerat metus. Suspendisse potenti. Nullam luctus aliquet luctus. Praesent sed commodo libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum sed nunc blandit, consectetur quam sed, posuere ex. Fusce auctor maximus mi, et molestie ante eleifend a.</p>

    <p>Vestibulum magna nisi, tristique in viverra sit amet, egestas tempor tellus. Phasellus arcu felis, convallis in pellentesque et, dapibus non tellus. Ut vel enim metus. Proin pulvinar facilisis sem varius feugiat. Mauris venenatis porttitor erat, ut consectetur tortor laoreet ac. Proin nisl orci, tempus quis malesuada non, ornare a massa. Quisque rhoncus libero sed imperdiet dictum. Praesent imperdiet nisl ipsum. Pellentesque interdum sem arcu, eu interdum est scelerisque eget. Cras nec nisl ante. Suspendisse luctus orci et placerat vulputate. Phasellus non massa at risus bibendum pulvinar. Vivamus facilisis quam eget nisi egestas gravida.</p>

    <p>In lobortis ante at massa porta scelerisque sed sit amet enim. Donec a gravida nibh, non pharetra mi. Morbi dictum ullamcorper lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed pellentesque dolor quis sapien gravida, nec placerat velit bibendum. Phasellus interdum bibendum ligula, eu luctus dui ultrices a. Phasellus in commodo ipsum, in luctus urna. Praesent pretium ullamcorper efficitur. Cras vel velit eget arcu venenatis pulvinar at in sapien. Nunc ultrices finibus est, nec tincidunt ligula vulputate ut. Aliquam mollis, eros id tincidunt pulvinar, justo magna congue ipsum, in vestibulum turpis nisi at erat.</p>
  </div>
</div>

<footer class="text-muted">
  <div class="container">
    <div class="row">
      <div class="card-fluid align-items-center mx-auto" style="width: 20rem;">
        <div class="card-block text-center">
          <h1 class="card-title txt-style">Contact me</h1>
          <p class="card-text name2">Chris Habjan Photography</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.instagram.com/lost.exposure/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/chrishabjanphotography/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
          </ul>
          <p class="card-text"><%= mail_to "chrishabjan@gmail.com"  %></p>
        </div>
      </div>
    </div>
    <p>
      <span class="float-left copy-right">&copy; 2017 Chris Habjan</span>
    </p>
  </div>
</footer>