<div class="no-pad image-text">
    <%= image_tag("background_final.png", :alt => "Habjan Photography", class: "img-fluid my-img") %>
</div>

<!-- Start My Work section -->
<div class="col-lg-12">
  <h1 id="gallery" class="page-header text-center txt-style">My Work</h1>
</div>

<div class="container card-fluid align-items-center mx-auto">
 <!-- Projects Row -->
  <div class="row">
      <div class="col-md-3 portfolio-item">
          <%= link_to image_tag("home_5_index.png", class: "img-fluid grow"),catone_path %>
      </div>
      <div class="col-md-3 portfolio-item">
         <%= link_to image_tag("people_index.png", class: "img-fluid grow"),cattwo_path %>
      </div>
      <div class="col-md-3 portfolio-item">
          <%= link_to image_tag("things_index.png", class: "img-fluid grow"),catthree_path %>
      </div>
      <div class="col-md-3 portfolio-item">
          <%= link_to image_tag("travel_1_index.png", class: "img-fluid grow"),catfour_path %>
      </div>
  </div>
  <!-- /.row -->
</div>

<div class="bio">
  <%= render 'layouts/bio'%>
</div>

<!-- start footer -->
<footer class="text-muted">
  <div class="container">
    <div class="row">
      <div class="card-fluid align-items-center mx-auto" style="width: 20rem;">
        <div class="card-block text-center">
          <h1 class="card-title txt-style">Contact me</h1>
          <p class="card-text name2">Chris Habjan Photography</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.instagram.com/lost.exposure/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/chrishabjanphotography/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
          </ul>
          <p class="card-text"><%= mail_to "chrishabjan@gmail.com"  %></p>
        </div>
      </div>
    </div>
    <p>
      <span class="float-left copy-right">&copy; 2017 Chris Habjan</span>
    </p>
  </div>
</footer>
