<div class="pad-top container">
  <p id="notice"><%= notice %></p>
  <h1>Galleries <%= link_to 'New Gallery', new_gallery_path, class: "btn btn-success pull-right" %></h1>
  <div class="container">
    <div class="row">
      <% @galleries.each do |gallery|%>
      <div class="col-sm-6 col-lg-3">
        <div class="card marg-top">

          <%= image_tag gallery.thumbnail, class: "card-img-top ", height: "200" %>
          <div class="card-img-overlay">
          <a href="<%= url_for gallery %>">
            <h3 class="card-title custom-overlay text-center grow"><%= gallery.name %></h3>
            </a>
          </div>
          </a>
          <div class="card">
          <div class="card-block">
           <%= link_to 'Edit', edit_gallery_path(gallery), class: "btn btn-warning" %>
           <%= link_to 'Delete', gallery, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %>
          </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
