<!DOCTYPE html>
<html>
  <head>
    <title>Chris Habjan Photography</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
    <!-- Light box -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.js"></script>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>

    <!-- Nav bar scroll start -->
    <script type="text/javascript">
      function checkScroll(){
        var startY = $('.navbar').height() * 1.5; //The point where the navbar changes in px

        if($(window).scrollTop() > startY){
          $('.navbar').addClass("scrolled");
        }else{
          $('.navbar').removeClass("scrolled");
        }
      }

      if($('.navbar').length > 0){
        $(window).on("scroll load resize", function(){
        checkScroll();
        });
      }
    </script>

    <!-- Light box start-->
    <script>
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    </script>
  </body>
</html>
