<!DOCTYPE html>
<html>
  <head>
    <title>Chris Habjan Photography</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Latest compiled and minified CSS -->
  </head>
  <%= render "navbar" %>
  <body>
    <%= yield %>
  </body>
</html>
